@import "tailwindcss";

@theme {
  /* colors */
  --color-dark: #0a0a0a;
  --color-light: #ededed;
  --background: var(--color-light);
  --foreground: var(--color-dark);

  /* typography sizes */
  /* https://utopia.fyi/type/calculator?c=360,18,1.2,1240,20,1.25,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --size-step--2: clamp(0.7813rem, 0.7736rem + 0.0341vw, 0.8rem);
  --size-step--1: clamp(0.9375rem, 0.9119rem + 0.1136vw, 1rem);
  --size-step-0: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --size-step-1: clamp(1.35rem, 1.2631rem + 0.3864vw, 1.5625rem);
  --size-step-2: clamp(1.62rem, 1.4837rem + 0.6057vw, 1.9531rem);
  --size-step-3: clamp(1.944rem, 1.7405rem + 0.9044vw, 2.4414rem);
  --size-step-4: clamp(2.3328rem, 2.0387rem + 1.3072vw, 3.0518rem);
  --size-step-5: clamp(2.7994rem, 2.384rem + 1.8461vw, 3.8147rem);
  --size-step-6: clamp(3.3592rem, 2.7828rem + 2.5621vw, 4.7684rem);
  --size-step-7: clamp(4.0311rem, 3.2418rem + 3.508vw, 5.9605rem);
  --size-step-8: clamp(4.8373rem, 3.7682rem + 4.7514vw, 7.4506rem);
  --size-step-9: clamp(5.8048rem, 4.3695rem + 6.379vw, 9.3132rem);
  --size-step-10: clamp(6.9657rem, 5.0529rem + 8.5015vw, 11.6415rem);

  --text-step--2: var(--size-step--2);
  --text-step--1: var(--size-step--1);
  --text-step-0: var(--size-step-0);
  --text-step-1: var(--size-step-1);
  --text-step-2: var(--size-step-2);
  --text-step-3: var(--size-step-3);
  --text-step-4: var(--size-step-4);
  --text-step-5: var(--size-step-5);
  --text-step-6: var(--size-step-6);
  --text-step-7: var(--size-step-7);
  --text-step-8: var(--size-step-8);
  --text-step-9: var(--size-step-9);
  --text-step-10: var(--size-step-10);

  /* spacing */
  /* https://utopia.fyi/space/calculator/?c=360,18,1.2,1240,20,1.25,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5369rem + 0.1136vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8494rem + 0.1136vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0739rem + 0.2273vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.6108rem + 0.3409vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.1477rem + 0.4545vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.2216rem + 0.6818vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.2955rem + 0.9091vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.4432rem + 1.3636vw, 7.5rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.3125rem, 0.1847rem + 0.5682vw, 0.625rem);
  --space-2xs-xs: clamp(0.5625rem, 0.4091rem + 0.6818vw, 0.9375rem);
  --space-xs-s: clamp(0.875rem, 0.7216rem + 0.6818vw, 1.25rem);
  --space-s-m: clamp(1.125rem, 0.8182rem + 1.3636vw, 1.875rem);
  --space-m-l: clamp(1.6875rem, 1.3551rem + 1.4773vw, 2.5rem);
  --space-l-xl: clamp(2.25rem, 1.6364rem + 2.7273vw, 3.75rem);
  --space-xl-2xl: clamp(3.375rem, 2.7102rem + 2.9545vw, 5rem);
  --space-2xl-3xl: clamp(4.5rem, 3.2727rem + 5.4545vw, 7.5rem);

  /* Custom pairs */
  --space-s-l: clamp(1.125rem, 0.5625rem + 2.5vw, 2.5rem);

  --gutter: var(--space-l-xl);

  --leading-micro: 0.85;
  --leading-flat: 1;
  --leading-fine: 1.2;
  --leading-standard: 1.4;
  --leading-loose: 1.7;

  --measure: 60ch;

  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);

  --stroke-width: 1px;
  --stroke-color: var(--color-mid);
  --stroke-dashed: var(--stroke-width) dashed var(--stroke-color);
  --stroke-solid: var(--stroke-width) solid var(--stroke-color);

  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;

  --wrapper-max-width: var(--measure);
}

@layer base {
  @import "./globals/reset.css";
  @import "./globals/global-styles.css";
}

@layer components {
  /* compositions */
  @import "./compositions/cluster.css";
  @import "./compositions/stack.css";

  /* blocks */
  @import "./blocks/page.css";
}

@layer utilities {
  @import "./utilities/region.css";
  @import "./utilities/wrapper.css";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-dark);
    --foreground: var(--color-light);
  }
}
