.board {
  --disc-size: 3ch;
  --disc-count: 5;
  display: flex;
  gap: 1em;
  min-height: calc(var(--disc-size, 3ch) * var(--disc-count, 5));
  .peg {
    display: flex;
    flex-direction: column-reverse;
    border: 1px solid var(--foreground, gray);
    min-width: var(--disc-size, 3ch);
  }
}
