.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space, 1.5rem);
}

/* variant exceptions */
.stack[data-stack='zero'] > * + * {
  margin-block-start: 0rem;
}

.stack[data-stack='small'] > * + * {
  margin-block-start: 0.5rem;
}

.stack[data-stack='large'] > * + * {
  margin-block-start: 3rem;
}
